{% extends "base.html" %}
{% load unslugify_tag %}

{% block content %}

<script>
$(document).ready(function() {
  $('#runs').columnManager({listTargetID:'targetcol', onClass: 'simpleon', offClass: 'simpleoff', saveState: true});

  $("#runs").tablesorter(/*{ 
        // sort on the first column and third column, order asc 
        //sortList: [[0,0],[2,0]] 
  }*/);
  
});

</script>

<div id="targetcol"></div>
{% if not data %}
 no data

{% else %}
<table id="runs" class="tablesorter">
  <thead> 
    <tr>
      {% for h in header %}
      <th>
        {{ h|unslugify|capfirst }}
      </th>
      {% endfor %}
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
        {% for cell in row %}
          <td>
            {{ cell }}
  
          </td>

        {% endfor %}
        <td><a href="javascript:void(0)" onclick="$.get('../hide/{{ row|first }}', {}, refresh)">hide</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}