<html>
<head>
  <title>Start a run</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<script>
function openTab(){
  $('input[name="lang"][checked]').each(function() {
    window.open("?lang="+ $(this).val());
  });
}

function selectAllLang(){
  if ($('input[name="lang"]').length != $('input[name="lang"][checked]').length)
    $('input[name="lang"]').attr('checked', true);
  else
    $('input[name="lang"]').attr('checked', false);
}

</script>
<body>
<div style="display:block">
<p><a href="/wikinetwork/">index</a></p>
<div style="display:block">
<form action="." method="GET" name="runParams">

  {% for l in langs %}
  <div style="display:inline-block;width:150px;">
    <input type="checkbox" name="lang" value="{{l}}" />{{ l }}
  </div>
  {% endfor %}

</form>
</div>
<div style="display:block;">
<p><a href="javascript:void(0)" onclick="selectAllLang()">(Un)Select all</a></p>
<p><a href="javascript:void(0)" onclick="openTab()">Run!</a></p>
</div>
</div>
</body>
</html>